{% extends 'base.html.twig' %}

{% block content %}
    <div class="flex bg-gradient">
        <div class="container mx-auto flex flex-col p-8">
            <h1 class="text-xl lg:text-3xl text-purple-lightest uppercase tracking-wide mb-6">Join our early access program now!</h1>
            <p class="text-purple-lightest text-lg leading-normal mb-2">By subscribing now you'll get:</p>
            <ul class="list-reset text-purple-lightest leading-normal ml-2 mb-8">
                <li class="bullet-checkmark mb-1">Free access to premium content</li>
                <li class="bullet-checkmark mb-1">A discount on your membership</li>
            </ul>
            <form action="" class="w-full flex flex-row">
                <input class="flex-grow p-2 mr-2 rounded" type="email" placeholder="email">
                <input class="btn border-2 border-purple-lightest text-purple-lightest bg-transparent" type="submit" value="Subscribe">
            </form>
        </div>
    </div>
    <div class="flex">
        <div class="container mx-auto flex flex-col p-8">
            <h1 class="text-lg text-purple-dark uppercase tracking-wide mb-4">AWS, for humans</h1>
            <p class="text-purple-darker leading-normal mb-4">Learn all aspects of the AWS platform with interactive courses easy to understand.</p>
            <div class="flex flex-wrap">
                <div class="w-full bg-grey-lightest border-l-4 border-purple-dark px-6 py-4 mb-4 text-purple-dark flex flex-wrap items-center">
                    <div><span class="lnr lnr-cloud-check text-4xl mr-6"></span></div>
                    <div class="flex-grow uppercase tracking-wide text-xs font-semibold">Virtual Private Cloud</div>
                    <div class="w-full text-purple-darker text-xs mt-2 leading-normal">You'll learn to create an isolated environment for your AWS instances.</div>
                </div>
                <div class="w-full bg-grey-lightest border-l-4 border-purple-dark px-6 py-4 mb-4 text-purple-dark flex flex-wrap items-center">
                    <div><span class="lnr lnr-pie-chart text-4xl mr-6"></span></div>
                    <div class="flex-grow uppercase tracking-wide text-xs font-semibold">EC2</div>
                    <div class="w-full text-purple-darker text-xs mt-2 leading-normal">Deploy apps within a cluster of EC2 instances. You'll learn to securely create EC2 instances
                        within a VPC and how to make your apps available to the internet.
                    </div>
                </div>
                <div class="w-full bg-grey-lightest border-l-4 border-purple-dark px-6 py-4 mb-4 text-purple-dark flex flex-wrap items-center">
                    <div><span class="lnr lnr-database text-4xl mr-6"></span></div>
                    <div class="flex-grow uppercase tracking-wide text-xs font-semibold">Databases</div>
                    <div class="w-full text-purple-darker text-xs mt-2 leading-normal">Learn how to add different kind of databases to a VPC.
                    </div>
                </div>
                <div class="w-full bg-grey-lightest border-l-4 border-purple-dark px-6 py-4 mb-4 text-purple-dark flex flex-wrap items-center">
                    <div><span class="lnr lnr-rocket text-4xl mr-6"></span></div>
                    <div class="flex-grow uppercase tracking-wide text-xs font-semibold">Elastic Load Balancer</div>
                    <div class="w-full text-purple-darker text-xs mt-2 leading-normal">Learn how to spread incoming traffic by setting up a Load Balancer.
                        You'll also learn how to add your own custom domain names to the Load Balancer using Route 53.
                    </div>
                </div>
                <div class="w-full bg-grey-lightest border-l-4 border-purple-dark px-6 py-4 mb-4 text-purple-dark flex flex-wrap items-center">
                    <div><span class="lnr lnr-code text-4xl mr-6"></span></div>
                    <div class="flex-grow uppercase tracking-wide text-xs font-semibold">Infrastructure as Code</div>
                    <div class="w-full text-purple-darker text-xs mt-2 leading-normal">After learning how to create all the things in AWS, you'll learn how
                        to automate setting everything up with tools like Packer and Terraform.
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}